h1{
    text-align: center;
    color:white;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

h3{
    text-align: center;
    font-size: 2em;
    color:white;
}

body{
    background-color: powderblue;
}

